.home .hero img
  max-width 450px!important

.reset-3c756112--hintIcon-7c7981dd--paragraph-ae3112d0 {
    top: 24px;
    left: 16px;
    margin: 0px;
    display: block;
    padding: 0px;
    position: absolute;
    font-size: 24px;
}
  
.reset-3c756112--blockHint-a7403a60 {
    width: 70%;
    margin: 32px 0px;
    display: block;
    padding: 24px 24px calc(0.1px) 50px;
    position: relative;
    border-left: 4px solid;
    border-radius: 3px;
    background-color: #e3e1e1;
}

.blockParagraph-544a408c {
    color: #000;
    margin: 0px 0px 30px;
    position: relative;
}

.blockParagraph-544a408c {
    color: #000;
    margin: 0px 0px 24px;
    position: relative;
}

.getstartedlink a:hover {
    text-decoration: underline;
}